.radio_box {
  background: linear-gradient(145deg, #f7f3f3, #c6ddcd, #add2b8, #cfded3);
  background-size: 400% 400%;
  animation: boxBG 5s ease infinite;
  padding: 10px 15px;
  position: relative;
  .title {
    font-size: 14px;
    position: relative;
    .active {
      color: #fb685f;
      font-weight: bold;
    }
    .icon {
      width: 20px;
      position: absolute;
      left: 6px;
      top: -10px;
    }
  }
  .selections {
    display: flex;
    flex-direction: column;
    .options {
      line-height: 28px;
      &.right {
        color: red;
      }
    }
  }
  .result {
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: 15px;
    color: #1de258
  }
}

@keyframes boxBG {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.message {
  margin-top: 60px;
}