.header {
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.8);
  z-index: 999;
  line-height: 60px;
  .top {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    .menu, .search{
      display: flex;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  .nav {
    display: none;
    height: 0;
    padding: 0 10px;
    flex-direction: column;
    background: rgba(0,0,0,0.8);
    min-height: 120px;
    li {
      line-height: 40px;
    }
    &.show {
      display: flex;
    }
  }
}

